body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
hr{
    border: none;
    width: 12%;
    height: 5px;
    margin-left: 0%;
    margin-top: -16px;
    background-color:  rgb(131, 186, 50);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 71, 71);
    color: white;
}
header div{
    width: 45%;
}
header #right ul{
    display: flex;
    justify-content: center;
    gap: 5%;
    list-style-type: none;
}
#right ul a{
    text-decoration: none;
    color: white;
}
#container{
    margin-top: -2%;
    height: 105%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.4) 100%);
}
#intro{
    padding-top: 2%;
    background-image: url(./Images/intro-bg.jpg);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
#cont{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 18%;
    color: #fff;
}
#cont h1{
    font-size: 3rem;
}
#cont p{
    position: relative;
    top: -20px;
    width: 70%;
    margin: auto;
}
#cont button{
    width: 18%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(131, 186, 50);
    color: #fff;
}
#I1{
    padding-top: 8%;
    padding-left: 4%;
    display: flex;
    justify-content: center;
}
#I1 div{
    width: 45%;
}
#I1 #left1 h1{
    margin-top: -1%;
    font-size: 2.4rem;
}
#I1 #left1 h1 span{
    color: rgb(131, 186, 50);
}
#I1 #left1 p{
    width: 87%;
    font-size: 1.1rem;
}
#I1 #left1 button{
    margin-top: 5%;
    width: 36%;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(131, 186, 50);
    color: #fff;
}
#I1 #right1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#I1 #right1 div{
    width: 45%;
}
#I1 #right1 div img{
    /* padding-top: 5%; */
    width: 90%;
    height: 14rem;
}
#I1 #right1 p{
    width: 92%;
}
#I2{
    background-color: rgb(131, 186, 50);
    color: #fff;
    text-align: center;
    margin-top: 7%;
    padding-top: 8%;
}
#I2 hr{
    border: none;
    width: 5.5%;
    margin: auto;
    margin-top: -15px;
    background-color: #ffffffc1;
}
#I2 h1{
    font-size: 2.4rem;
}
#I2 p{
    font-size: 1.2rem;
    padding-bottom: 4%;
}
#I2 #image{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
#I2 #image div{
    width: 45%;
}
#I2 #image img{
    width: 70%;
    height: 14rem;
    border: 7px solid rgb(116, 174, 29);
    border-radius: 140px;
}
#I2 #image h1{
    font-size: 1.4rem;
}
#I2 #image p{
    /* padding-left: 12%; */
    width: 70%;
    margin: auto;
}
#I3{
    text-align: center;
    margin-top: 7%;
    margin-bottom: 6%;
}
#I3 hr{
    border: none;
    width: 5.5%;
    margin: auto;
    margin-top: -15px;
    background-color:  rgb(131, 186, 50);
}
#I3 h1{
    font-size: 2.4rem;
}
#I3 p{
    font-size: 1.2rem;
    padding-bottom: 2%;
}
#I3 button{
    font-size: 1.2rem;
    padding: 8px;
    position: relative;
    margin-left: 2%;
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
}
#I3 #btn{
    background-color: rgb(131, 186, 50);
    color: #fff;
}
#I3 #inside{
    display: flex;
    justify-content: center;
    margin-left: -5%;
}
#I3 #inside div{
    width: 35%;
    margin-right: -7%;
    margin-left: -2%;
}
#I3 #inside img{
    width: 70%;
    height: 14rem;
    padding-bottom: 3%;
}
#I4{
    background-image: url(./Images/testimonials-bg.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    color: #fff;
    text-align: center;
}
#I4 #green{
    height: 100%;
    margin-bottom: 5%;
    background-image: linear-gradient(to top,rgba(172, 254, 49, 0.677) 0,rgba(170, 255, 42, 0.546) 60%,rgba(170, 255, 43, 0.502) 100%);
}
#I4 hr{
    border: none;
    width: 5.5%;
    margin: auto;
    margin-top: -15px;
    background-color: #ffffffc1;
}
#I4 h1{
    padding-top: 5%;
    font-size: 2.4rem;
}
#I4 p{
    width: 50%;
    margin: auto;
    padding-top: 2%;
    font-size: 1.2rem;
}
#I4 button{
    margin:0 0.4%;
    margin-top: 3%;
    padding: 7px;
    border: none;
    border-radius: 100%;
    margin-bottom: 5%;
}
#I5{
    text-align: center;
    padding-bottom: 5%;
}
#I5 hr{
    border: none;
    width: 5.5%;
    margin: auto;
    margin-top: -15px;
    background-color:  rgb(131, 186, 50);
}
#I5 h1{
    font-size: 2.4rem;
}
#I5 p{
    font-size: 1.4rem;
    padding-bottom: 3%;
}
#I5 #contact{
    display: flex;
    justify-content: center;
}
#I5 #contact hr{
    width: 20%;
    border: none;
    margin: auto;
    margin-top: -15px;
    background-color: #d6d4d488;
}
#I5 #contact div{
    width: 30%;
}
#contact h1{
    font-size: 1.3rem;
}
#contact p{
    font-size: 1rem;
}
#I5 form h1{
    font-size: 1.3rem;
}
#I5 input{
    width: 20%;
    margin-left: 2%;
    padding: 0.5rem;
}
#I5 textarea{
    width: 44%;
    margin-top: 1%;
    margin-left: 2%;
    padding: 0.5rem;
}
#I5 button{
    margin-top: 1%;
    width: 14%;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(131, 186, 50);
    color: #fff;
}
footer{
    background-color: rgb(29, 28, 28);
    padding-bottom: 2%;
}
footer #icons{
    color: rgb(131, 186, 50) ;
    font-size: 1.6rem;
    text-align: center;
}
footer #icons i{
    width: 2%;
    background-color: rgb(56, 56, 56);
    margin: 30px;
    padding: 15px;
    /* border: 2px solid gray; */
    border-radius: 100%;
}
footer p{
    color:rgb(90, 89, 89);
    font-size: 1.2rem;
    text-align: center;
}
footer span{
    color: grey;
}